/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    header{
        margin: 0 auto;
        display: flex;
    }
    header div picture{
        margin: 2%;
    }
    .social{
        margin: 2% ;
    }
   
    .headd{
        grid-template-rows: 1fr;
    }
   


	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}
    header, footer {
    max-width: 1000px;
    color: #fff;
    background-color: rgba(59, 170, 235, 0.829);
    

    }
    
    main{
  
    margin: 8em ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    }
    .hero1{
        border-style: solid;
        width: 25em;
        height: 25em;
        text-align: center;
        margin: 1em;
        background-color: rgb(235, 84, 159);
        color: #fff;
    }
    .hero2{
        border-style: solid;
        width: 14em;
        height: 13em;
        margin: 1em;
        text-align: center;
        background-color: rgb(235, 84, 159);
        color: #fff;
    }
    .hero3{
        border-style: solid;
        width: 25em;
        height: 15em;
        margin: 1em;
        text-align: center;
        background-color: rgb(235, 84, 159);
        color: #fff;
    }
    .hero4{
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: auto;
        margin-right: 1em;
        background-color: rgb(134, 6, 57);
        
    }
    .pic{
        padding: 5em;
        margin: 0.5em;
        background-color: rgb(235, 84, 159);
        color: #fff;
    }
    
    
    .m {
            letter-spacing: 1.5pt;
            font-size: 0.9rem;
        }
}
/*-----------------------footer--------------------*/

footer{
    margin: 8rem;
    justify-content: center;
    align-items: center;
  }